.acwrapper {
  position: fixed;
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
}
.acwrapper p span {
  color: red;
}
.acwrapper p {
  margin-top: -17px;
  padding: 19px 3px;
}
.acwrapperborder {
  border: 1px solid blue;
}
.login-head {
  text-align: left;
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.cl-label.MuiFormLabel-root {
  font-size: 11px;
  font-weight: 600;
  color: #000;
  /* width: 90px; */
}
.acwrapper .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 20px;
}
.acwrapper .MuiOutlinedInput-input {
  padding: 4.5px 5px;
  border: 1px solid #084acf;
  background-color: #fff;
  border-radius: 4px;
}
.acwrapper .css-11qr2p8-MuiButtonBase-root-MuiButton-root {
  font-size: 12px;
  background-color: #084acf;
}
.acwrapper .css-1a7q6wv-MuiPaper-root {
  background-color: #ccc;
}
.login-border {
  border: 1px solid blue;
}
.err-field {
  text-align: center;
  text-transform: uppercase;
  color: #f00;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.link {
  margin-left: 20px;
}
.otpline {
  margin-left: 10px;
  padding-top: 10px;
}
